.etask-container{
    margin-left: 250px;
    background-color: rgb(231, 252, 255);
    padding: 10px;
    height: 100%;
}

h2{
    color: rgb(22, 8, 92);
    text-decoration: underline;
}

.etaskp{
    margin-top: -2px;
    padding: 10px 5px;
    background-color: #c5c5c5bf;
    transition: background-color 0.2s ease;
    animation: slideIn 1.3s ease;
}

.task-btns{
    font-size: 1.15rem;
    padding:3px 15px;
    color: aliceblue;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color:rgba(22, 8, 92, 0.793);
}

.task-btns:hover{
    cursor: pointer;
    background-color:rgba(40, 25, 111, 0.793);
}